@import '../components/form';

section.register__section{
    @include DisplayPosition($flex-direction: column, $align-items: center);
    div.form{
        h2{
            font-size: 32px;
        }
        width: 15rem;
        @include DisplayPosition($flex-direction: column);
    }
    div.button-div{
        padding: 3rem;
        @include DisplayPosition($flex-direction: column, $align-items: center, $justify-content: center);
    }
}